html { 
    background: url("1.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
h1{
  color: white;
  font-size: 40px;
  text-align: center;
}
h3{
  color: black;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  background-color: white;
}
a{
  display: inline-block;
  background-color: magenta;
  color: #1b1e21;
}
.container{
    padding: 2% 2% 0;
    text-align: justify;
    color: #2c2c2c
  }
  
  .container:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  #content{
    color: whitesmoke;
  }
  a{
      text-decoration: none;
  }
  .container .item,
  .container .gap{
    display: inline-block;
    width: 98%;
    border:5px;
    border-color: #2c2c2c;
    margin: auto;
  }
  
  .container .item{
    text-align: center;
    background:rgba(128,128,128,0.9);
    width: 98%;
    height: 105px;
    box-shadow: 1px 1px 5px black;

  }
  
  .container .item:before{
    content: '';
    display: inline-block;
    padding: 10px;
  }
  
  @media all and (min-width: 420px){
    .container .item,
    .container .gap{
      width: 32%;
    }
  }
  
  @media all and (min-width: 640px){
    .container .item,
    .container .gap{
      width: 23.5%;
    }
  }

