<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'mainapp/results.css %}">
</head>
<body>
		<div class="bg"></div>
	<div class="container">
		{% for key,value in di.items %}
		<div class="item"><a href="{{ value }}"><h3 id="content" >{{ key }} : {{ value }}</h3></a></div>
		{% endfor %}
	</div>
</body>
</html>