<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Fresh Bootstrap Table by Creative Tim</title>



    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

	<link href="{% static 'mainapp/customers/assets/css/bootstrap.css'%}" rel="stylesheet" />
    <link href="{% static 'mainapp/customers/assets/css/fresh-bootstrap-table.css' %}" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'mainapp/css/reset.css' %}"> <!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}"> <!-- Resource style -->
	<script src="{% static 'mainapp/js/modernizr.js' %}"></script> <!-- Modernizr -->

        
</head>
<body  style="background: black">

<header class="cd-main-header">
		<a href="#0" class="cd-logo"><i class="fa fa-facebook"></i></a>
		
		<div class="cd-search is-hidden">
			<form action="#0">
				<input type="search" placeholder="Search...">
			</form>
		</div> <!-- cd-search -->

		<a href="#0" class="cd-nav-trigger"><span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
				<li><a href="#0">Support</a></li>
				<li class="has-children comments">
					<a href="#0">Account</a>
					<ul>
						<li><a href="#0">My Account</a></li>
						<li><a href="#0">Edit Account</a></li>
						<li><a href="login.html" target="_self">Logout</a></li>
					</ul>
				</li>
			</ul>
		</nav>
</header> <!-- .cd-main-header -->
<main class="cd-main-content">
		<nav class="cd-side-nav">
			<ul>
				<li class="cd-label">Main</li>
				<li class="has-children overview"><a href="customers.html">Home</a></li>
				<li class="has-children overview"><a href="customers.html">Customers</a></li>
				<li class="has-children overview"><a href="contact.html">Contact Customer</a></li>

				<li class="has-children notifications active">
					<a href="#0">Notifications<span class="count">3</span></a>
				</li>
				
			</ul>

			<ul>
				<li class="cd-label">Secondary</li>
				<li class="has-children comments">
					<a href="#0">Comments</a>
					<ul>
						<li><a href="#0">All Comments</a></li>
						<li><a href="#0">Edit Comment</a></li>
						<li><a href="#0">Delete Comment</a></li>
					</ul>
				</li>

				<li class="has-children users">
					<a href="#0">FAQs</a>
				</li>
			</ul>

			<ul>
				<li class="cd-label">Action</li>
				<li class="action-btn"><a href="login.html" target="_self">Logout</a></li>
			</ul>
		</nav>
	<div>
		<div class="wrapper col-xs-10" style="margin-top: 59px">
			<div class="fresh-table full-color-orange">
				<div class="toolbar">
					<button id="alertBtn" class="btn btn-default">Alert</button>
				</div>
				
				<table id="fresh-table" class="table">
					<thead>
						<th data-field="id">S.No</th>
						<th data-field="name" data-sortable="true">Name</th>
						<th data-field="salary" data-sortable="true">Maturity Date</th>
						<th data-field="country" data-sortable="true">Type Of Customer</th>
						<th></th>
						<th>Actions</th>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Illana Nelson</td>
							<td>7-Jan-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Illana Nelson</td>
							<td>7-Jan-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Illana Nelson</td>
							<td>7-Jan-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Illana Nelson</td>
							<td>7-Jan-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Illana Nelson</td>
							<td>7-Jan-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Minerva Hooper</td>
							<td>15-Apr-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Sage Rodriguez</td>
							<td>15-Apr-2035</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td>Philip Chaney</td>
							<td>9-Apr-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td>Doris Greene</td>
							<td>21-Sept-2020</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td>Mason Porter</td>
							<td>21-Sept-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td>Alden Chen</td>
							<td>17-Oct-2025</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td>Colton Hodges</td>
							<td>11-Dec-2019</td>
							<td>Standard</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td>Illana Nelson</td>
							<td>7-Jan-2020</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<td>1</td>
							<td>Dakota Rice</td>
							<td>20-Mar-2021</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td>Nicole Lane</td>
							<td>23-Jun-2025</td>
							<td>Premium</td>
							<td></td>
							<td><button class="btn btn-default" onclick="alertfunc()">Notify</button>
								<button class="btn btn-default" onclick="showfunc()">Show Details</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
	
</main>
</body>
<script type="text/javascript" src="../../static/mainapp/customers/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="../../static/mainapp/customers/assets/js/bootstrap-table.js"></script>
        
    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'), 
            full_screen = false,
            window_height;
            
        $().ready(function(){
            
            window_height = $(window).height();
            table_height = window_height - 20;
            
            
            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                height: table_height,
                pageSize: 25,
                pageList: [25,50,100],
                
                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..." 
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });
            $alertBtn.click(function () {
                alert("You pressed on Alert");
            });
        
            
            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });    
        });
       function alertfunc(){
		window.open('../contact form/contact.html');
	   }
	   function showfunc(){
			alert('Showing details' );
	   }
    </script>
	<script>
	/* off-canvas sidebar toggle */
$('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
    $('span.collapse').toggleClass('in');
});

$('[data-toggle=offcanvas-in]').click(function() {
    $('.row-offcanvas').addClass('active');
    $('span.collapse').addClass('in');
});
	</script>
</html>